<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finacila Servies</title>
</head>
<body>
  <section>
  <header >
      <div class="mainheader m-4">
            <h2>CLOUDESIGN</h2>  
          </div>
  </header>
</section>

   
<div class="container imgwarp">
  <div class="showdiv toggldiv">
    <div class="bannerTitle">
      <picture>
        <img src="../../assets/images/banner.png" alt="" class="bannerClass">
      </picture>
      <h1>self help option</h1>
    </div>
      <div class="row">
        <div class="col-xl-6 text-center pt-3">
         <h1><a routerLink="consumer" style="text-decoration:none; color:black">TW,FM,CONSUMER & MICRO</a></h1> 
        </div>
        <div class="col-xl-6 text-center pt-3">
          <h1><a routerLink="homeloan" style="text-decoration:none; color:black">HOME LOAN</a></h1>

        </div>
      </div>
    </div>
  </div>



 
  
</body>
</html>

