<div class="container">
    
    <div class="row">
        <div class="col-md-4 col">
           <div class="tab1 pb-5">
                <div class="heading text-center pt-3 pb-3">
               <img src="../../assets/images/images.png" class="img-fluid" alt="">
                    <h2 class="">Update Profile</h2> 
                </div>
                <ul>
                    <li><a routerLink="/personalInfo"><span class="txt">Personal Information</span></a></li>
                    <li><a routerLink="/personalInfo"><span class="txt"> Modify Kyc Form</span></a></li>
                </ul>
           </div>
        </div>


    <div class="col-md-4 col">
        <div class="tab1 pb-5">
            <div class="heading text-center pt-3 pb-3">
               <img src="../../assets/images/images1.png " class="img-fluid" alt="">
                <h2 class="">Loan Details</h2> 
            </div>
            <ul>
                <li><a routerLink="loanForm"><span class="txt">Loan Details</span></a></li>
                <li><a href=""><span class="txt">Pay Your EMI</span></a></li>
                <li><a href=""><span class="txt">Last 10 Transactions</span></a></li>
                <li><a href=""><span class="txt">Payment/Refund Related</span></a></li>
                <li><a href=""><span class="txt">Vehicle Details</span></a></li>
            </ul>
        </div>    
    </div>

    <div class="col-md-4 col">
        <div class="tab1 pb-5">
            <div class="heading text-center pt-3 pb-3">
               <img src="../../assets/images/images2.png" class="img-fluid" alt="">
                <h2 class="">Document Request</h2> 
            </div>
            <ul>
                <li><a href=""><span class="txt">NOC</span></a></li>
                <li><a href=""><span class="txt">Repayment Schedule</span></a></li>
                <li><a href=""><span class="txt">Welcome Letter</span></a></li>
                <li><a href=""><span class="txt">foreclosure simulation</span></a></li>
            </ul>
        </div>
    </div>
</div> 

</div>
